body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', 'Cormorant' sans-serif;
    background: url(img/Invitation-main-nocircle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    margin: auto;
}

.h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #04060A;
}

.h1 {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #7DA6AE;
}

.p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #04060A;
}

.cormorant-h2 {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 30px;
    text-align: center;
    color: #7DA6AE;
}

.cormorant-link {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #04060A;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    width: 700px;
    gap: 30px; 
    background: #FFFFFF;
    border: 3px solid #7DA6AE;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #7DA6AE;
    text-decoration: none;
}

.btn:hover {
    background: url(img/hover-hearts.png), #7DA6AE;
    color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 31, 90, 0.15);
    transition-duration: 0.3s;
  }

  .rotate-img {
    animation: rotation 10s infinite linear;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 295px;
    top: 357px;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.radio-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    font-weight: 900;
}

.fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 30px;
    margin: 0 40px;
}

.radio-btn-1 {

    width: 300px;
    color: #407A85;
}

.radio-btn-1:hover {
    color: #7DA6AE;
}

.radio-btn-2 {

    width: 300px;
    color: #407A85;
}

.radio-btn-2:hover {
    color: #7DA6AE;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.label1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 680px;   
}

.label1 input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 680px;
    height: 44px;
    background: #F3FAFB;
    border: 1px solid #7DA6AE;
    padding-left: 20px;
}


.radio-btns-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    width: 680px;
    font-weight: 900;
}

.radio-btn-menu1 {

    width: 300px;
    color: #407A85;
}

.radio-btn-menu1:hover {
    color: #7DA6AE;
}

.radio-btn-menu2 {

    width: 300px;
    color: #407A85;
}

.radio-btn-menu2:hover {
    color: #7DA6AE;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.text-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 64px;
    background: #FFFFFF;
    border: 2px solid #7DA6AE;
    color: #7DA6AE;
    font-size: 20px;
    font-weight: 600;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
}

.text-btn:hover {
    background: #7DA6AE;
    color: #FFFFFF;
}

.text-btn a:hover {
    color:#FFFFFF;
}

.rotate-img {
    animation: rotation 10s infinite linear;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 357px;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  a {
    color:#7DA6AE;
}

.download-btn {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 231px;
    height: 44px;
    background: rgba(255, 255, 255, 0.7);
    border:none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
}

    .fa-solid, .fas {
        color: #407A85;
}


/* Responsive */

@media only screen and (max-width: 450px) {

	body,
    html {
        background: url(img/Invitationmob.jpg)no-repeat center center fixed;
        background-size: contain;
        
        background-size: cover;
        position: relative;
        margin: auto;

    }

    .h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #04060A;
    }
    
    .h1 {
        font-family: 'Cormorant';
        font-style: italic;
        font-weight: 500;
        font-size: 42px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #7DA6AE;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        padding: 15px;
        gap: 15px;
        width: 345px;
        height: auto;
        margin-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 20px 50px rgba(0, 31, 90, 0.15);
    
    }
    
    .main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
        gap: 20px;
        width: 315px;
        height: auto;
        
        background: #FFFFFF;
        border: 2px solid #7DA6AE;
    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 300px;
        height: 56px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #7DA6AE;
        text-decoration: none;
        margin-top: 10px;
        }

        .p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #04060A;
            width: 315px;
        }

        .radio-btns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            width: 315px;
            font-weight: 900;
            padding: 5px;
            width: 330px;
            color: #407A85;
        }
        .radio-btn-1 {
            padding: 5px;
            width: 330px;
            color: #407A85;
        }
    
        .radio-btn-2 {
            padding: 5px;
            width: 330px;
            color: #407A85;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 300px;
            height: auto;
        }

        .label1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            width: 280px;   
        }

        .label1 input{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 280px;
            height: 44px;
            background: #F3FAFB;
            border: 1px solid #7DA6AE;
        }

        .label2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            width: 280px;   
        }

        .label2 input{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 280px;
            height: 44px;
            background: #F3FAFB;
            border: 1px solid #7DA6AE;
        }

        .radio-btns-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            width: 315px;
            font-weight: 900;
        }
        .radio-btn-menu1 {
            padding: 5px;
            width: 330px;
            color: #407A85;
        }
    
        .radio-btn-menu2 {
            padding: 5px;
            width: 330px;
            color: #407A85;
        }

        .buttons-row {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;

        }

        .text-btn {
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 300px;
            height: 56px;
            background: #FFFFFF;
            border: 2px solid #7DA6AE;
            color: #7DA6AE;
            font-size: 18px;
            font-weight: 600;
            font-family:'Montserrat', sans-serif;
            text-decoration: none;
        }

        .download-btn {
            position: initial;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            gap: 10px;
            width: 231px;
            background: rgba(255, 255, 255, 0.7);
            font-size: 18px;
            font-weight: 600;
            font-family:'Montserrat', sans-serif;
            text-decoration: none;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            gap: 10px;
        
        }

        .rotate-img {
            display: none;
          }

}

@media screen and (min-width: 500px) and (max-width: 786px) {

	body,
    html {
        background: url(img/Invitation\ 767.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        background-size: cover;
        margin: auto;
    }
}
